.footer-container {
  background-image: url("../../assats/img/woodFloor.jpg");
  min-height: 190px;
  max-height: 475px;
  color: white;
  margin-top: 50px;
}
.footer-block-03 img {
  height: 50px;
  display: inline-block;
  margin: 20px 15px;
}
.footer-block-02 {
  text-align: center;
  margin: 20px 0;
}
