.link {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;

  color: white;
}
.link:hover {
  color: darkolivegreen;
  text-decoration: none;
}
.header-li {
  list-style-type: none;
  margin: 90px 30px;
}
li {
  list-style-type: none;
}
.header-container {
  background-image: url("../../assats/img/forest.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
.a {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-content: flex-end;
}
